streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
pillow
nltk
cleantext
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
git+https://github.com/boudinfl/pke.git


